body {
  font-family: "Times New Roman", Times, serif;
  background-color: #fafafa !important;
}

/* navbar */

.navbar {
  padding: 5px 30px !important;
  background-color: #fff;
  height: 70px;
}

.navTitle {
  margin: 0;
}

.navItems {
  font-size: 18px;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navItems a {
  color: #333 !important;
  text-decoration: none !important;
}

.navItems .active {
  color: #8a4baf !important;
}

/* main */

.main {
  margin-top: 70px;
  padding: 10px 30px;
  min-height: 75vh;
}

/* homepage */

.hero-section {
  height: 300px;
}

.hero-title {
  font-size: 36px;
  font-weight: bold;
}

/* about page */

.skills-section {
  margin: 2rem auto;
}

.skill-category {
  margin-bottom: 2rem;
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: flex-start;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
}

.skill-icon {
  font-size: 50px;
  margin-bottom: 10px;
}

.skill-name {
  text-align: center;
  font-size: 14px;
  color: #333;
}

/* experience page */

.job-description {
  padding-left: 1rem;
}

/* footer */

footer {
  display: flex;
  align-items: center;
  background-color: #bc60fb;
  color: #fff;
  height: 70px;
}

footer .socialContainer {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.socialContainer li a {
  color: #fff;
}

footer p {
  margin: 0;
  padding: 0;
}
