body {
  font-family: "Times New Roman", Times, serif;
  background-color: #fafafa;
}

/* navbar */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
}

.navTitle {
  font-size: 40px;
  margin: 0;
}

.navItems {
  font-size: 22px;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 0;
  padding: 0;
}

a {
  color: #333;
  text-decoration: none;
}

.active {
  color: #8a4baf;
}

/* main */

.main {
  margin-top: 70px;
  padding: 10px 30px;
  min-height: 75vh;
}

/* homepage */

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}

/* footer */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #bc60fb;
  color: #fff;
  height: 70px;
  padding: 0 30px;
}

.footer .socialContainer {
  list-style: none;
  display: flex;
  gap: 20px;
}

.socialContainer li a {
  color: #fff;
}

.footer p {
  margin: 0;
  padding: 0;
}
